header {
    background-color: #FFFAAE;
    text-align: center;
    font-size: 50px;
    border-radius: 10px;
    margin: 30px 100px 30px 100px;
    font-family: Helvetica;
    font-weight: bold;
    min-width: 700px;
}

.live-stream {
    margin-top: -67px;
    margin-left: 120px;
    margin-bottom: 50px;
}

.live-stream-btn {
    text-decoration: none;
    color: white;
    border: 1px solid red;
    border-radius: 5px;
    padding: 3px 50px;
    background-color: red;
    font-family: Helvetica;
    font-weight: bold;
}

.video-list {
    font-size: 20px;
}

.video-item {
    float: left;
    text-align: center;
    width: 300px;
}

.list {
    font-size: 40px;
    text-align: center;
    background-color: #FFFCCE;
    min-width: 900px;
}

.list > p {
    color: red;
    font-size: 20px;
}

.detect-list {
    list-style: none;
    margin: 2px 120px 10px 120px;
    background-color: #FFFCCE;
    min-width: 660px;
}

.detect-list > li {
    font-size: 20px;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    margin-right: 50px;
}